/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Montserrat';
}


.menu {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  padding: 8px;
  background-color: black;
  text-align: center;
  white-space: nowrap;
  overflow-x: auto;
  
  
}

.menu a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 6px;
  
}

.menu a:hover{
  background-color: aqua;
  color: black;
}

#top-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  
  
}
.siteName {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 32px;
}

.siteName a {
  text-decoration: none;
}
#tools {
  text-align: right;
  
  
}

#tools a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  
}

/* body {
  padding: 15px;
  border: 3px solid rgb(0, 221, 221);
  border-radius: 20px;
  margin: 40px;
  background-color: white;
  
} */
.hero-image {
  background-image:
  url('https://raw.githubusercontent.com/irineufreitas/cse340starter/b74bab3c26a11c70278b6d028f4b08dc2bb29aca/public/images/vehicles/delorean.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: rgb(26, 26, 26); */
}

.hero-text {
  color: black;
  position: absolute;
  left: 20%;
  /* height: 250px; */
  border: none solid black;
  padding: 10px;
  background-color: rgba(147, 192, 192, 0.708);
}

.hero-button {
  background-color: rgb(0, 221, 221);
  padding: 15px;
  font-weight: 500;

}

.hero-button:hover {
  background-color: #0056b3;
  color: white;
  font-weight: 500;

}

.management-login {
  background-color: white;
  
}

.upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  margin: 0;
}

.upgrades a {
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 25px;

}

.upgrades img {
  display: block;
  margin: auto;
  
}

.container {
  display: flex;
  
  flex-direction: column-reverse;
  margin: 5px;
  
}

.reviews {
  font-size: 18px;
  line-height: 2;

}

.box {
  border: 1px solid black;
  background-color: aqua;
  padding: 10px;
  font-size: 20px;
  color: black;
}

.container1 {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 20px;
  background-color: white;
}
.vehicle-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.vehicle-details img {
  width: 50%;
  max-width: 500px;
  height: auto;
  margin-right: 20px;
}
.vehicle-info {
  flex: 1;
  margin-top: 20px;
}

footer {
  margin-top: auto;
  padding: 10px;
}

.login-page {
  /* max-width: 600px; */
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: -1px;
  margin-bottom: -1px;
}

.title-login {
  text-align: center;
}
.flash-messages {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #007BFF;
  background-color: #0056b3;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.title-register {
  text-align: center;
}
.management-body, .classification-body, .inventory-body {
  background-color: white;
  margin-top: -1px;
  padding: 20px;
  text-align: center;
}

.button1 {
  width: 50%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: #19426e;
  border-style: solid;
  cursor: pointer;
  margin-top: 10px;
  
  
}

.button1:hover {
  background-color: #0056b3;
}

form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

input[type="text"],
input[type="number"],

textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* Styles for validation feedback */
input[type="text"].invalid,
input[type="number"].invalid,
textarea.invalid,
select.invalid {
  border-color: red;
}

input[type="text"].valid,
input[type="number"].valid,
textarea.valid,
select.valid {
  border-color: green;
}

textarea {
  height: 100px;
  resize: vertical;
}
.register-page {
  background-color: white;
  padding: 20px;
  margin-top: -1px;
  margin-bottom: -1px;

}

.form-group1 {
  margin-bottom: 15px;
}

.notice {
  color: red;
  list-style-type: none;
  padding: 0;
  margin: 0 0 15px 0;
}

a {
  
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 38rem) {

    

  body {
      padding: 0px;
      border: 5px solid rgb(0, 221, 221);
      border-radius: 20px;
      margin: 40px;
      background-image: url('https://raw.githubusercontent.com/irineufreitas/cse340starter/main/public/images/site/small_check.jpg');
      
      
    }
  

    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
    }

  .background {
    background-color: white;
    padding: 15px;
    

  }

  #top-header {
    background-color: white;
    height: 70px;
    padding: 15px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    
  }

  footer {
    background-color: white;
    height: 100px;
    padding: 20px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    margin-top: auto;
  }

  #inv-display {
    background-color: white;
    margin-bottom: -10px;
    padding-bottom: 20px;
    margin-top: -82px;
    padding-top: 100px;
    padding-left: 20px;
    
    

  }
  
  .error-back {
    background-color: white;
    margin-bottom: -16px;
    padding-bottom: 10px;
    margin-top: -5px;
    padding-top: 10px;
    padding-left: 10px;

  }

  .vehicle-details {
    flex-direction: column;
  }
  .vehicle-details img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}