<body>
<div class="management-body">
    <h1><%= title %></h1>

    <!-- Flash Messages -->
    <% if (messages && messages.length > 0) { %>
        <div class="flash-messages">
            <% messages.forEach(function(message) { %>
                <p class="flash-message"><%= message %></p>
            <% }); %>
        </div>
    <% } %>

    <div class="management-links">
        <a href="/inv/classification/add" class="btn btn-primary">Add New Classification</a>
        <a href="/inv/add" class="btn btn-primary">Add Vehicle</a>
    </div>
</div>
</body>
